<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="consumer_key" value="dj0yJmk9UllsVmE4SU85MjU5JmQ9WVdrOVJWWlljR2xWTldFbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD05Nw--"/>
    <add key="consumer_secret" value="0b1cea68d321de2735b00a28ea8c8bedad84589f"/>
    <add key="oauth_token" value="A%3Dkpc1ngn.5iE2Q3EFM2YsKYRF1PVwdq6VfM9IFt3QrXlLkQnxGV3W2LFttXr5VVSdHzoIHpncU0t9asufaTbvTj2OfQgYkoH97iqFpI85unbj8rGBqnwWJOd3HKGWiNIPtInMLd46v1dcT77cuypqfXrqV4zZSYoXwsrbC_pgbjIpAQfv7NYdHTI5X7jIYUDSPIN538JGQdiknRCJRpy.0LKMg0Dk_aJ.yZI9buqQVwxxmF8ON1C3rjsxbcnRpo1XyPmhrJupZLxW31r65nCNexvmkJPZNcjzSFyYrlmmSO7XJZh4YnPf5f.Zi6sb1ZrKbiNDpz5DrNH6Fmf3sgCSpbhR7WLoxo6mwvizVfnZPtR2JEFN9Oout_lFzgy1vJe0jJBrADeRp0wbxg927mReO147iFfGG0wApylm1LMDMeoFTF9G2ADFRn1NT2TafXswcm8G.MEnvnlUwLpdCC7ME2ZRz0qH9MSaNJlfwdW8WRTDSOZuQA7UaM4HtslwEB2r0ojtVebfDHyReo.e7IDHC9_11RXNgV7zEeHCjQoNx4xt8XSxQyjQzoAVZHJpc5raLZlWjnIvdIXSmHa6cdF0hyXPKih_VzJZx660tGNgGXJjJWE.ITKNoBJ7YSM7ZXAzAHDBEy2BeWpgKatoqMQUrX1iqmUihge5tJHtNL5VUZogw1dJPHRQ3vbHqPvalOzcd_kFY_svRqjkBmNYaDi8dbs2pLWpjV_qY0mYNT_KhbKAGsSOFtGpgcXAYQG6d4VXE9MMBV8FEPDJeHukMdQF2oXJwUdjIdw4nm3s1B8WnOuLWmMDqkQ-"/>
    <add key="oauth_secret" value="deb5c03a3644cd71478ff6be62ce27a0eb3008d8"/>
    <add key="session_handle" value="AFLzd1hRZ3Qhe1tiJExg7DG4Ypbb.dtZ22BmDLybfpPzOyXiuQE-"/>
  </appSettings>
</configuration>